* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  scroll-behavior: smooth;
}

@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@mixin mw($maxWidth) {
  max-width: $maxWidth;
  width: 100%;
}

.sayt {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  overflow: hidden;

  & > .header {
    padding-top: 16px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;

    & > .header__icon {
      position: relative;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > button {
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        cursor: pointer;
        border: none;
        font-size: 24px;
        background: #e5e5e5;
        border-radius: 10px;

        & > img {
          margin-right: 20px;
        }
      }

      & > .toifalar {
        width: 205px;
        height: 453px;
        background-color: #ffffff;
        position: absolute;
        top: 150px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 5;
        display: none;
        & > button {
          width: 193px;
          height: 36px;
          border: none;
          background: #e5e5e5;
          border-radius: 10px;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          /* identical to box height */
          text-align: left;
          color: #1d1d1d;
          padding-right: 12px;
          box-sizing: border-box;
          margin: auto;
        }
      }
    }

    & > .header__navbar {
      max-width: 700px;
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      & > ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        & > .menu {
          width: 30px;
          color: #746d6d;
          background-color: transparent;
          font-size: 30px;
          cursor: pointer;
          border: none;
        }

        & > a {
          border: none;
          width: 160px;
          height: 45px;
          margin: 18px;
          background: #ff1111;
          border-radius: 10px;
          font-weight: 700;
          font-size: 18px;
          line-height: 45px;
          /* identical to box height */

          text-align: center;
          cursor: pointer;
          color: #ffffff;
        }

        & > li {
          margin: 18px;
          list-style: none;

          font-weight: 700;
          font-size: 18px;
          /* identical to box height */

          color: #1d1d1d;

          & > a {
            text-decoration: none;
            color: #1d1d1d;
          }

          & > a:hover {
            color: #746d6d;

            border-bottom: 1px solid #ff1111;
          }
        }

        #menu {
          z-index: 10;
          position: absolute;
          bottom: -400px;
          right: 10%;
          width: 252px;
          height: 397px;
          box-sizing: border-box;
          flex-direction: column;
          justify-content: left;
          align-items: center;
          background: #ffffff;
          border: 0.5px solid rgba(130, 130, 131, 0.25);
          border-radius: 10px;
          display: none;

          & > div {
            border-bottom: 1px solid #c4c4c4;
            width: 100%;
            display: flex;
            padding-top: 27px;
            padding-bottom: 11px;
            padding-left: 25px;
            box-sizing: border-box;
            margin: 0;
            & > i {
              font-size: 50px;
              margin-right: 16px;
            }

            & > div {
              box-sizing: border-box;
              & > h4 {
                font-weight: 600;
                font-size: 14px;
                /* identical to box height */

                color: #000000;
              }
              & > h5 {
                font-weight: 500;
                font-size: 13px;
                /* identical to box height */

                color: #ff1111;
              }
            }
          }

          & > a {
            margin: 0;
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;
            height: 40px;
            /* identical to box height */
            border-top: 1px solid #c4c4c4;
            width: 100%;
            text-align: center;
            color: #000000;
          }
          & > a:hover {
            text-shadow: 0 0 15px;
          }
          & > :nth-child(7) {
            color: #ff1111;
          }
        }

        & > a {
          text-decoration: none;
        }
      }

      & > form {
        max-width: 325px;
        width: 100%;
        display: flex;
        
        align-items: center;
        padding-left: 18px;

        & > div {
          position: relative;
          max-width: 200px;
          width: 100%;
          height: 30px;

          padding-top: 6px;
          margin-right: 37px;
          background: #e5e5e5;
          border-radius: 10px;
          display: flex;
          align-items: center;

          & > i {
            color: #746d6d;
            margin-right: 15px;
            margin-left: 17px;
            margin-top: -7px;
          }

          & > input {
            padding-left: 35px;
            position: absolute;
            border-radius: 10px;
            max-width: 200px;
            width: 100%;
            border: none;
            background-color: transparent;
            height: 35px;
            top: 0;
            left: 0;
            box-sizing: border-box;
          }
        }

        & > button {
          padding: 5px;
          border: none;
          background-color: transparent;
          height: 20px;
          padding-top: 0;
        }

        & > button:hover {
          color: #746d6d;
        }

        & > button:nth-child(3) {
          border-left: 1px solid #1d1d1d;
        }
      }
    }
  }

  // HOME  TEGMA  DON'T BELOW THIS CHANGE LINE
  & > .page {
    & > .page__nav {
      display: flex;
      flex-wrap: wrap;
      margin-left: 8%;
      margin-top: 70px;
      & > a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        /* identical to box height */

        color: #746d6d;
      }
      & > .back {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        /* identical to box height */

        color: #1d1d1d;
        margin-right: 25px;
      }
    }

    & > .page__block {
      max-width: 1142px;
      width: 100%;
      box-sizing: border-box;
      margin: auto;
      margin-top: 46px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      & > .page__block__card {
        background-color: #ff1111;
        margin-top: 33px;
        border-radius: 10px;
        min-height: 404px;
        display: flex;
        flex-direction: column;
        justify-content: sv;
      }

      border: 1px solid #746d6d;
      border-radius: 15px;
    }

    & > .elon1 {
      padding-bottom: 33px;

      & > .owl-carousel1 {
        max-width: 602px;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        margin-top: 33px;
        position: relative;

        & > .owl-stage-outer {
          & > .owl-stage {
            border-radius: 10px;
          }
        }

        & > .owl-nav {
          position: absolute;
          top: 42%;
          max-width: 602px;
          width: 100%;
          display: flex;
          justify-content: space-between;

          & > button {
            background: #fff;
            width: 25px;

            color: #ff1111;
            font-size: 25px;
          }
        }
        & > .owl-dots {
          position: absolute;
          bottom: 2%;
          max-width: 602px;
          width: 100%;
        }
      }

      & > :nth-child(2) {
        max-width: 410px;
        width: 90%;
        color: #ffffff;
        min-height: 404px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        box-sizing: border-box;
        padding-left: 33px;
        padding-right: 33px;

        & > h4 {
          font-weight: 700;
          font-size: 16px;
          margin-top: 10px;
          /* identical to box height */
        }
        & > :nth-child(2) {
          display: flex;
          flex-wrap: wrap;

          & > i {
            font-size: 50px;
            height: 50px;
            background: #000;
            border-radius: 50%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 15px;
          }

          & > div {
            max-width: 202px;
            width: 100%;

            & > h3 {
              font-weight: 500;
              font-size: 16px;
            }

            & > h5 {
              font-weight: 400;
              font-size: 12px;

              color: rgba(255, 255, 255, 0.72);
            }

            & > h4 {
              font-weight: 600;
              font-size: 11px;
              /* identical to box height */

              text-decoration-line: underline;

              color: #ffffff;
            }
          }
        }

        & > :nth-child(3) {
          display: flex;
          flex-wrap: wrap;

          & > button {
            width: 148px;
            height: 42px;
            border-radius: 5px;
            margin-top: 10px;
          }

          & > :nth-child(1) {
            border: none;
            background: #fff;

            font-weight: 700;
            font-size: 15px;
            /* identical to box height */
            margin: 10px;
            color: #1d1d1d;
          }

          & > :nth-child(2) {
            background: transparent;
            border: 2px solid #fff;
            color: #fff;
            font-weight: 700;
            font-size: 15px;
            margin: 10px;
          }
        }

        & > :nth-child(4) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin-bottom: 5px;
          & > :nth-child(1) {
            & > h3 {
              font-weight: 700;
              font-size: 16px;
            }

            & > h5 {
              margin-top: 14px;
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
            }

            & > h6 {
              font-weight: 500;
              font-size: 13px;
              /* identical to box height */

              color: rgba(255, 255, 255, 0.72);
            }
          }
        }
      }
    }

    & > .elon2 {
      color: #fff;
      padding-bottom: 33px;
      & > :nth-child(1) {
        max-width: 602px;
        width: 90%;
        padding-left: 25px;
        padding-right: 25px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        & > h5 {
          font-weight: 400;
          font-size: 12px;
          /* identical to box height */

          color: rgba(255, 255, 255, 0.72);
        }

        & > h3 {
          font-weight: 600;
          font-size: 18px;
          margin-top: -15px;
        }

        & > h2 {
          font-weight: 300;
          font-size: 24px;
        }

        & > :nth-child(4) {
          & > a {
            text-decoration: none;
            color: #fff;
            font-weight: 400;
            font-size: 12px;
            /* identical to box height */

            color: rgba(255, 255, 255, 0.72);
            & > i {
              color: #fff;
            }
          }
        }

        & > h4 {
          font-weight: 600;
          font-size: 12px;
        }

        & > :nth-child(6) {
          margin: 0;
          font-weight: 600;
          font-size: 18px;
        }

        & > p {
          font-weight: 400;
          font-size: 12px;
          max-width: 483px;
          width: 90%;

          color: rgba(255, 255, 255, 0.73);
        }

        & > :nth-child(8) {
          display: flex;
          flex-wrap: wrap;
          box-sizing: border-box;
          padding: 10px;
          justify-content: space-between;
          color: #1d1d1d;
          background: #ffffff;

          border-radius: 5px;

          & > h4 {
            margin: 0 10px;
          }
        }
      }
      & > :nth-child(2) {
        max-width: 410px;
        width: 90%;
        box-sizing: border-box;
        padding: 33px;
        padding-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        & > h4 {
          font-weight: 700;
          font-size: 16px;
        }

        & > :nth-child(2) {
          display: flex;
          flex-wrap: wrap;

          & > i {
            font-size: 50px;
            height: 50px;
            background: #000;
            border-radius: 50%;
          }

          & > :nth-child(2) {
            max-width: 184px;
            width: 100%;

            margin-left: 18px;
          }
        }

        & > form {
          & > input[type="text"] {
            max-width: 343px;
            width: 100%;
            height: 170px;
            box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.38);
            border-radius: 5px;
            border: none;
            box-sizing: border-box;
            padding-left: 14px;
            margin-top: 5px;
          }

          & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > button {
              margin-top: 17px;
              background: transparent;
              border: none;
              color: #ffffff;
              font-weight: 700;
              font-size: 15px;
            }

            & > :nth-child(2) {
              margin-top: 17px;
              width: 148px;
              height: 42px;
              border: 2px solid #fff;
              background: transparent;
              color: #fff;
              font-weight: 700;
              border-radius: 5px;
              font-size: 15px;
            }
          }
        }
      }
    }

    & > .elon3 {
      display: block;
      & > h2 {
        margin-left: 5%;
        margin-top: 50px;

        font-weight: 600;
        font-size: 24px;
      }

      & > .owl-carousel2 {
        max-width: 1072px;
        width: 90%;
        margin: auto;

        margin-top: 31px;
        margin-bottom: 68px;
        & > .owl-stage-outer {
          & > .owl-stage {
            border-radius: 10px;

            & > .owl-item {
              & > .item {
                overflow: hidden;
                background: #ffffff;
                border: 1px solid rgba(0, 0, 0, 0.38);
                border-radius: 10px;
                box-sizing: border-box;
                & > h3 {
                  font-weight: 600;
                  font-size: 24px;
                  /* identical to box height */

                  color: #1d1d1d;
                  margin-left: 30px;
                  margin-top: 20px;
                  width: 248px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  & > i {
                    color: #ff1111;
                  }
                }

                & > h5 {
                  margin-left: 30px;
                  font-weight: 400;
                  font-size: 14px;
                  /* identical to box height */
                  margin-top: 20px;
                  color: #1d1d1d;
                }

                & > div {
                  margin-top: 43px;
                  display: flex;
                  justify-content: space-between;
                  width: 250px;
                  margin-left: 30px;
                  margin-bottom: 33px;

                  & > h4 {
                    font-weight: 400;
                    font-size: 18px;
                    /* identical to box height */

                    color: #1d1d1d;
                  }

                  & > button {
                    max-width: 104px;
                    width: 100%;

                    background: #ff1111;
                    border-radius: 7px;
                    border: none;
                    font-weight: 400;
                    font-size: 14px;
                    /* identical to box height */

                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  & > .footer {
    max-width: 1142px;
    width: 99%;
    margin: auto;

    & > .footer__links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;

      & > div {
        display: flex;
        flex-direction: column;
        margin: 10px;

        & > img {
          max-width: 170px;
          margin-top: 7px;
        }

        & > p {
          font-weight: 500;
          font-size: 16px;
          margin-top: 12px;
          color: #746d6d;
        }

        & > a {
          text-decoration: none;
          font-weight: 600;
          font-size: 16px;
          /* identical to box height */

          color: #746d6d;
          margin-top: 7px;
        }

        & > a:hover {
          color: #ff1111;
          text-shadow: 0 0 5px #ff1111;
        }

        & > div {
          padding-top: 20px;
          & > a {
            text-decoration: none;

            border-radius: 50%;
            margin-top: 19px;

            & > i {
              width: 35px;
              height: 35px;
              text-align: center;
              font-size: 16px;
              background-color: #ff1111;
              color: #fff;
              padding-top: 10px;
              box-sizing: border-box;
              border-radius: 50%;
              margin-right: 20px;
            }
            & > i:hover {
              box-shadow: 0 0 15px #433d3d;
            }
          }
        }
      }
      & > :nth-child(1) {
        max-width: 300px;
        width: 90%;
      }

      & > :nth-child(2) {
        max-width: 160px;
        width: 90%;
      }

      & > :nth-child(3) {
        max-width: 100px;
        width: 90%;
      }

      & > :nth-child(4) {
        max-width: 150px;
        width: 90%;
      }
    }

    & > .all {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 25px;
      padding-top: 120px;

      & > h4 {
        font-weight: 600;
        font-size: 16px;
        /* identical to box height */

        color: #746d6d;
      }
      & > div {
        & > a {
          text-decoration: none;

          font-weight: 600;
          font-size: 16px;
          /* identical to box height */
          margin-right: 30px;
          color: #746d6d;
        }

        & > a:hover {
          text-shadow: 0 0 5px #ff1111;
          color: #ff1111;
        }
      }
    }
  }
  // HOME  TEGMA  DON'T BELOW THIS CHANGE LINE

  // o'chirish taqiqlanadi
  & > .find {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    & > div {
      max-width: 613px;
      width: 100%;
      margin-top: 60px;

      & > h1 {
        width: 90%;
        margin: auto;
        font-style: normal;
        font-weight: 600;
        font-size: 56px;

        color: #1d1d1d;
      }

      & > p {
        width: 90%;
        margin: auto;
        font-weight: 400;
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: #746d6d;
      }

      & > div {
        max-width: 324px;
        width: 90%;
        margin-left: 5%;
        background: #ff1111;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        & > :nth-child(1) {
          & > a {
            margin: 22px 18px;
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;
            /* identical to box height */

            color: #ffffff;
          }
        }
        & > ul {
          display: flex;
          justify-content: space-evenly;
          font-weight: 400;
          font-size: 16px;
          /* identical to box height */
          margin-left: 25px;
          color: #c4c4c4;
          position: relative;

          & > li {
            list-style: none;
            & > ul {
              display: none;
              position: absolute;
              background: #000;
              z-index: 5;

              & > li {
                list-style: none;
                padding-left: 15px;
                box-sizing: border-box;
              }
              & > li:hover {
                background-color: gold;
                color: red;
              }
            }
          }
        }
        & > .ul1 :hover .viloyat {
          display: block;
        }

        & > .ul2:hover .valyuta {
          display: block;
        }
        // VALUE
        & > div {
          display: flex;

          & > h3 {
            font-weight: 600;
            font-size: 18px;
            /* identical to box height */
            margin: 24px;
            color: #ffffff;
          }
        }
      }
    }
    & > img {
      max-width: 480px;
      width: 90%;
      margin-top: 60px;
      max-height: 451px;
    }
  }
  & > .rubriki {
    max-width: 1142px;
    width: 100%;
    margin: auto;
    margin-top: 70px;
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    & > .rubriki__card {
      max-width: 228px;
      width: 100%;
      margin: 15px;
      height: 118px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ff1111;
      border-radius: 7px;

      & > h4 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        /* identical to box height */

        color: #ffffff;
        & > i {
          margin-right: 14px;
        }
      }
    }
  }
  & > .premium {
    background-color: #ff1111;
    overflow: hidden;
    padding-bottom: 33px;

    & > h2 {
      text-align: center;
      margin-top: 8px;

      font-weight: 700;
      font-size: 48px;
      /* identical to box height */

      color: #ffffff;
    }

    & > .tovar {
      max-width: 625px;
      width: 90%;

      min-height: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      margin: auto;

      background: #ffffff;
      border-radius: 10px;

      & > a {
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 400;
        font-size: 18px;
        /* identical to box height */

        text-transform: uppercase;
        text-decoration: none;
        color: #1d1d1d;
      }
      & > a:hover {
        color: #ff1111;
      }
    }

    & > .owl-carousel9 {
      & > .owl-stage-outer {
        & > .owl-stage {
          & > .owl-item {
            & > .item {
              & > .premium__cards {
                max-width: 1142px;
                width: 100%;
                margin: auto;
                margin-top: 4px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;

                & > .premium__cards__card {
                  width: 300px;
                  height: 400px;
                  background: #ffffff;
                  border: 1px solid rgba(0, 0, 0, 0.38);
                  border-radius: 10px;
                  overflow: hidden;
                  box-sizing: border-box;
                  padding-bottom: 33px;
                  margin: 25px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  & > img {
                    width: 100%;
                    height: 200px;
                  }

                  & > h3 {
                    width: 80%;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 600;
                    font-size: 24px;
                    /* identical to box height */
                    margin-left: 30px;
                    color: #1d1d1d;

                    & > i {
                      color: #ff1111;
                    }
                  }

                  & > h5 {
                    font-weight: 400;
                    font-size: 14px;
                    /* identical to box height */
                    margin-left: 30px;
                    color: #1d1d1d;
                  }

                  & > div {
                    display: flex;
                    justify-content: space-between;
                    margin-left: 30px;
                    margin-right: 22px;
                    & > h4 {
                      font-weight: 400;
                      font-size: 18px;
                      /* identical to box height */

                      color: #1d1d1d;
                    }

                    & > button {
                      background: #ff1111;
                      border-radius: 7px;
                      border: none;
                      max-width: 104px;
                      width: 100%;
                      height: 27px;

                      font-weight: 400;
                      font-size: 14px;
                      /* identical to box height */

                      color: #ffffff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  & > .taklif {
    display: flex;
    flex-wrap: wrap;
    max-width: 1142px;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    padding-top: 38px;

    & > div {
      max-width: 600px;
      width: 90%;
      min-height: 400px;
      margin-top: 30px;

      & > div {
        padding-bottom: 30px;
        box-sizing: border-box;
      }
    }

    & > :nth-child(1) {
      background: url(../images/taklif1.jpg) no-repeat center center / cover;
      box-sizing: border-box;
      padding-top: 36px;
      padding-left: 10%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      position: relative;
      & > h3 {
        font-weight: 600;
        font-size: 22px;
        /* identical to box height */

        color: #ffffff;
      }

      & > h4 {
        font-weight: 500;
        font-size: 22px;
        /* identical to box height */

        color: #ff1111;
      }

      & > a {
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        /* identical to box height */

        color: #ffffff;
      }

      & > a:hover {
        color: #ff1111;
        text-shadow: 0 0 5px #ff1111;
      }
    }

    & > :nth-child(2) {
      max-width: 512px;
      width: 90%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      & > :nth-child(1) {
        min-height: 190px;
        box-sizing: border-box;
        padding-top: 36px;
        padding-left: 10%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background: url(../images/taklif2.png) no-repeat center center / cover;
        position: relative;
        & > h3 {
          font-weight: 600;
          font-size: 22px;
          /* identical to box height */

          color: #ffffff;
        }

        & > h4 {
          font-weight: 500;
          font-size: 22px;
          /* identical to box height */

          color: #ff1111;
        }

        & > a {
          text-decoration: none;
          font-weight: 400;
          font-size: 18px;
          /* identical to box height */

          color: #ffffff;
        }

        & > a:hover {
          color: #ff1111;
          text-shadow: 0 0 5px #ff1111;
        }
      }

      & > :nth-child(2) {
        min-height: 190px;
        box-sizing: border-box;
        padding-top: 36px;
        padding-left: 10%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background: url(../images/taklif3.png) no-repeat center center / cover;
        position: relative;
        & > h3 {
          font-weight: 600;
          font-size: 22px;
          /* identical to box height */

          color: #ffffff;
        }

        & > h4 {
          font-weight: 500;
          font-size: 22px;
          /* identical to box height */

          color: #ff1111;
        }

        & > a {
          text-decoration: none;
          font-weight: 400;
          font-size: 18px;
          /* identical to box height */

          color: #ffffff;
        }

        & > a:hover {
          color: #ff1111;
          text-shadow: 0 0 5px #ff1111;
        }
      }
    }
  }
  & > .maxsusT {
    padding-bottom: 40px;
    & > h1 {
      text-align: center;
      margin-top: 22px;
      font-weight: 700;
      font-size: 40px;
      /* identical to box height */

      text-transform: uppercase;

      color: #1d1d1d;
    }
    & > div {
      max-width: 1142px;
      width: 90%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      & > div {
        padding-bottom: 35px;
        margin-top: 18px;
        border-radius: 10px;
        overflow: hidden;
        max-width: 550px;
        width: 100%;
        box-sizing: border-box;
        padding-top: 34px;
        padding-left: 28px;
        position: relative;
        & > h3 {
          font-weight: 700;
          font-size: 22px;
          /* identical to box height */

          color: #1d1d1d;
        }

        & > p {
          font-weight: 500;
          font-size: 12px;

          color: #746d6d;
          width: 229px;
        }

        & > :nth-child(3) {
          display: flex;
          max-width: 230px;
          width: 100%;
          justify-content: space-between;
          padding-top: 10px;
          & > h4 {
            font-weight: 400;
            font-size: 12px;
            /* identical to box height */

            letter-spacing: 0.155em;

            color: #ff1111;

            & > font {
              font-weight: 400;
              font-size: 12px;
              /* identical to box height */

              letter-spacing: 0.155em;
              text-decoration-line: line-through;

              color: #746d6d;
            }
          }

          & > button {
            border: none;
            width: 125px;
            height: 25px;
            background: #ff1111;

            border-radius: 7px;
            font-weight: 400;
            font-size: 9px;
            letter-spacing: 0.155em;

            color: #ffffff;
          }
        }

        & > :nth-child(4) {
          display: flex;
          justify-content: space-between;
          max-width: 230px;
          padding-top: 21px;
          & > h4 {
            width: 40px;
            height: 40px;
            box-sizing: border-box;
            padding-top: 5px;
            border-radius: 50%;
            vertical-align: center;
            text-align: center;
            font-weight: 600;
            font-size: 9px;
            /* identical to box height */
            background: #ff1111;
            letter-spacing: 0.005em;
            text-transform: uppercase;

            color: #ffffff;
          }
        }

        & > .chegirma {
          position: absolute;
          top: 0;
          right: 0;
          padding: 8px;
          font-weight: 500;
          font-size: 12px;
          letter-spacing: 0.155em;

          color: #ffffff;
          background: #ff1111;
          border-radius: 0px 0px 0px 7px;
        }
      }

      & > :nth-child(1) {
        background: url(../images/taklif4.png) no-repeat center center / cover;
      }
      & > :nth-child(2) {
        background: url(../images/taklif5.png) no-repeat center center / cover;
      }
    }
  }
  & > .customer {
    & > h2 {
      font-weight: 700;
      font-size: 40px;
      /* identical to box height */

      text-transform: uppercase;
      text-align: center;
      color: #1d1d1d;
    }

    & > .owl-customer {
      max-width: 1142px;
      margin: auto;
      position: relative;
      padding-bottom: 55px;
      & > .owl-stage-outer {
        & > .owl-stage {
          & > .owl-item {
            & > .item {
              & > .card {
                max-width: 566px;
                width: 80%;
                margin: auto;
                padding-top: 22px;
                & > img {
                  width: 88px;
                  margin: auto;
                }
                & > p {
                  font-weight: 400;
                  font-size: 16px;
                  text-align: center;
                  margin-top: 38px;
                  color: #1d1d1d;
                }

                & > h5 {
                  font-weight: 700;
                  font-size: 16px;
                  /* identical to box height */
                  margin-top: 38px;
                  text-align: center;

                  color: #ff1111;
                }
                & > h6 {
                  font-weight: 500;
                  font-size: 14px;
                  /* identical to box height */

                  text-align: center;
                  margin-top: 5px;
                  color: #1d1d1d;
                }
              }
            }
          }
        }
      }

      & > .owl-nav {
        position: absolute;
        top: 30%;
        max-width: 1142px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        & > button {
          color: #ff1111;
          font-size: 80px;
          font-family: poppins;
          height: 00px;
        }

        & > button :focus {
          background-color: transparent;
        }
      }
    }
  }
  & > .qoshimcha {
    max-width: 1142px;
    width: 100%;
    margin: auto;
    & > h2 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 40px;
      /* identical to box height */

      text-transform: uppercase;

      color: #1d1d1d;
    }

    & > .qoshimcha__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      & > .qoshimcha__cards__card {
        max-width: 550px;
        width: 90%;
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 10px;
        border-radius: 8px;
        box-sizing: border-box;
        padding-bottom: 23px;
        padding-left: 10%;
        color: #fff;

        & > div {
          display: flex;
          align-items: center;

          & > button {
            margin-right: 12px;
            width: 129px;
            height: 34px;
            border: none;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;

            color: #ffffff;
            background: #ff1111;
            border-radius: 6px;
          }

          & > h4 {
            font-weight: 500;
            font-size: 14px;
            /* identical to box height */

            text-transform: uppercase;

            color: #ffffff;
          }
        }
        & > h2 {
          font-weight: 500;
          font-size: 24px;
          text-transform: uppercase;

          color: #ffffff;
        }
        & > a {
          text-decoration: none;
          font-weight: 700;
          font-size: 14px;
          /* identical to box height */

          color: #c4c4c4;
        }
      }

      & > :nth-child(1) {
        background: url(../images/q1.png) no-repeat center center / cover;
      }
      & > :nth-child(2) {
        background: url(../images/q2.png) no-repeat center center / cover;
      }
      & > :nth-child(3) {
        background: url(../images/q3.png) no-repeat center center / cover;
      }
      & > :nth-child(4) {
        background: url(../images/q4.png) no-repeat center center / cover;
      }
    }
  }
  // o'chirish taqiqlanadi

  & > .saraMenu {
    background-color: #ff1111;
    padding-top: 83px;
    padding-bottom: 10px;
    & > div {
      max-width: 1142px;
      width: 90%;
      margin: auto;

      & > h3 {
        font-weight: 600;
        font-size: 24px;
        /* identical to box height */
        margin-bottom: 34px;
        color: #ffffff;
      }
      & > div {
        display: flex;
        flex-wrap: wrap;
        & > a {
          display: block;
          font-weight: 600;
          font-size: 14px;
          /* identical to box height */
          text-decoration: none;

          color: #ffffff;

          margin-left: 20px;
          margin-right: 57px;
        }
      }
    }
  }

  & > .sarabody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 150px;

    text-align: center;
    width: 90%;
    margin: auto;
    & > h3 {
      margin-top: 17px;
      font-weight: 600;
      font-size: 20px;
      /* identical to box height */

      color: #000000;
    }
    & > p {
      font-weight: 500;
      font-size: 14px;
      text-align: center;

      color: #746d6d;
    }
  }

  // dostavka
  & > .yetkazish {
    margin: auto;
    text-align: center;
    margin-top: 86px;
    font-weight: 700;
    font-size: 36px;
  }
  & > .xavfsiz {
    max-width: 1142px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 28px;
    padding-bottom: 30px;
    & > div {
      & > h3 {
        margin-top: 13px;
        font-weight: 600;
        font-size: 18px;
      }
      & > p {
        font-weight: 400;
        font-size: 16px;
      }
      margin-top: 30px;
      margin-bottom: 30px;
      max-width: 480px;
      width: 80%;
    }
  }

  & > .afzallik {
    max-width: 1142px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 28px;
    padding-bottom: 50px;

    & > div {
      margin-top: 30px;
      margin-bottom: 30px;
      max-width: 480px;
      width: 80%;
      h3 {
        font-weight: 600;
        font-size: 18px;
      }
      & > ul {
        list-style: none;

        li::before {
          content: "\2022";
          color: #ff1111;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }
  }

  & > .jonatmaTel {
    max-width: 1142px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ff1111;
    border-radius: 15px;
    padding: 47px;
    box-sizing: border-box;
    margin-top: 33px;
    margin-bottom: 30px;
    & > h3 {
      color: #ffffff;
      font-weight: 600;
      font-size: 15px;
    }
  }
  // dostavka

  // premium sahifa
  & > .pro {
    max-width: 1142px;
    width: 100%;
    margin: auto;
    & > h2 {
      margin-top: 66px;
      font-weight: 600;
      font-size: 52px;
      text-align: center;
    }
    & > p {
      font-weight: 400;
      font-size: 18px;
      text-align: center;
    }
    & > .pro__tarif {
      padding-top: 33px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding-bottom: 42px;
      & > .pro__tarif__card {
        width: 300px;
        padding-top: 54px;
        padding-bottom: 23px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 10px;
        border: 1px solid rgba(0, 0, 0, 0.36);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-top: 20px;

        & > h3 {
          font-weight: 600;
          font-size: 24px;
          margin-left: 47px;
          margin-bottom: 35px;

          & > font {
            color: #ff1111;
          }
        }

        & > h4 {
          font-weight: 400;
          font-size: 18px;
          margin-top: 9px;
          margin-left: 47px;
          & > .fa-circle-check {
            color: #ff1111;
          }
          & > i {
            margin-right: 11px;
          }
        }

        & > h6 {
          text-align: center;
          margin-top: 18px;
          font-weight: 400;
          font-size: 12px;
          /* identical to box height */

          text-decoration-line: line-through;

          color: rgba(130, 130, 131, 0.57);
        }

        & > h5 {
          font-weight: 400;
          font-size: 22px;
          /* identical to box height */
          text-align: center;
          color: #746d6d;

          & > font {
            color: #ff1111;
          }
        }

        & > button {
          background: #ff1111;
          border-radius: 50px;
          color: #ffffff;
          font-weight: 400;
          font-size: 18px;
          border: none;
          width: 277px;
          height: 48px;
          margin: auto;
          margin-top: 21px;
        }
      }
    }
    & > .tolov {
      max-width: 1142px;
      width: 90%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 50px;
      border: 1px solid rgba(0, 0, 0, 0.36);
      border-radius: 15px;
      padding: 46px 0;
    }
  }
  // premium sahifa

  // elon berish
  & > .elon {
    max-width: 1142px;
    width: 90%;
    margin: auto;
    padding-top: 70px;

    & > h3 {
      font-weight: 600;
      font-size: 24px;
    }

    & > div {
      background-color: #ff1111;
      margin-top: 16px;
      border-radius: 15px;
      color: #ffffff;
    }

    & > .elon__tur {
      padding: 40px 5%;
      padding-bottom: 26px;

      & > h3 {
        font-weight: 700;
        font-size: 20px;
      }

      & > form {
        & > input {
          margin-top: 45px;
          border: none;
          max-width: 550px;
          width: 100%;
          height: 50px;
          padding-left: 16px;
          box-sizing: border-box;
          border-radius: 5px;
          margin-bottom: 26px;
        }

        & > select {
          border: none;
          max-width: 306px;
          width: 100%;
          height: 76px;
          border-radius: 5px;
          margin-top: 12px;
          padding-left: 15px;
        }
      }
    }

    & > .elon__rasm {
      padding-left: 5%;
      padding-top: 40px;
      padding-bottom: 28px;

      & > h3 {
        font-weight: 700;

        font-size: 20px;
      }

      & > .elon__rasm__img {
        display: flex;
        flex-wrap: wrap;
        max-width: 790px;
        width: 100%;

        & > div {
          width: 160px;
          height: 120px;
          background: url(../images/Vector.png) no-repeat center center, white;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          margin: 15px;
          color: #000;

          & > input {
            width: 100%;
            height: 100%;
            opacity: 0;
          }
        }

        & > :nth-child(1) {
          background: url(../images/Frame\ 28.png);
        }
      }
    }

    & > .elon__tavsif {
      padding: 5%;
      padding-top: 40px;
      padding-bottom: 51px;

      & > h3 {
        font-weight: 700;
        font-size: 20px;
      }

      & > form {
        position: relative;
        & > input {
          padding-left: 3%;
          max-width: 714px;
          width: 90%;
          height: 241px;
          border: none;
          border-radius: 5px;
          box-sizing: border-box;
        }
        & > h5 {
          position: absolute;
          bottom: 10px;
          font-weight: 400;
          font-size: 12px;
          /* identical to box height */
          margin-left: 28px;

          color: rgba(255, 17, 17, 0.53);
        }
      }
      & > h5 {
        font-weight: 500;
        font-size: 11px;
        /* identical to box height */
        margin-top: 23px;
        color: #ffffff;
      }
    }

    & > .elon__aloqa {
      padding-top: 40px;
      padding-bottom: 64px;
      padding-left: 5%;
      & > form {
        display: flex;
        flex-direction: column;

        max-width: 369px;
        width: 90%;

        & > label {
          font-weight: 600;
          font-size: 14px;
          margin-top: 12px;
        }
        & > input {
          border: none;
          border-radius: 5px;
          height: 50px;
          margin-top: 7px;
          padding-left: 25px;
        }
        & > div {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          & > button {
            width: 217px;
            height: 44px;
            border: none;
            margin-top: 44px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            font-weight: 700;
            font-size: 16px;
          }
          & > a {
            font-weight: 700;
            font-size: 16px;
            /* identical to box height */

            text-decoration-line: underline;

            color: #ffffff;
          }
        }
      }
    }
  }
  // elon berish

  // narxlar
  & > .narxlar {
    max-width: 1142px;
    width: 95%;
    margin: auto;

    & > .narxlar__ruknlar {
      display: flex;
      flex-wrap: wrap;

      & > div {
        margin-top: 18px;
        margin-right: 25px;

        & > div {
          background: #e5e5e5;
          border-radius: 10px;
          width: 193px;
          height: 36px;
          text-align: center;
          font-weight: 600;
          font-size: 16px;
          /* identical to box height */

          color: #1d1d1d;
        }

        & > form {
          & > input {
            width: 76px;
            height: 36px;
            background: #e5e5e5;
            border-radius: 10px;
            border: none;
            padding-left: 10px;
          }
        }

        & > select {
          border: none;
          background: #e5e5e5;
          border-radius: 10px;
          height: 36px;
          width: 170px;
          padding-left: 17px;
          padding-right: 10px;
          box-sizing: border-box;
        }
      }
    }

    & > .narxlar__select {
      & > select {
        margin-top: 20px;
        font-weight: 600;
        font-size: 16px;
        /* identical to box height */

        color: #1d1d1d;
        border: none;
        margin-right: 30px;
        height: 36px;
      }
    }

    & > h5 {
      margin-top: 33px;
      margin-bottom: 19px;
      font-weight: 600;
      font-size: 14px;
      /* identical to box height */

      color: #746d6d;
    }
    & > .narxlar__natija {
      display: flex;

      & > h3 {
        margin-right: 28px;
        font-weight: 600;
        font-size: 16px;
        /* identical to box height */

        color: #1d1d1d;

        & > font {
          color: #ff1111;
        }
      }
    }

    & > .narxlar__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      & > .narxlar__cards__card {
        position: relative;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        margin: 5px;
        margin-top: 47px;
        margin-bottom: 10px;
        overflow: hidden;
        width: 260px;

        & > button {
          position: absolute;
          top: 157px;
          right: 22px;

          width: 104px;
          height: 27px;
          border: none;
          background: #ff1111;
          border-radius: 7px;
          font-weight: 400;
          font-size: 14px;
          /* identical to box height */

          color: #ffffff;
        }

        & > h3 {
          font-weight: 600;
          font-size: 24px;
          margin-top: 12px;
          margin-left: 30px;
        }

        & > h5 {
          font-weight: 400;
          font-size: 14px;
          margin-top: 12px;
          margin-left: 30px;
        }

        & > h4 {
          font-weight: 400;
          font-size: 18px;
          /* identical to box height */
          margin-top: 26px;
          margin-bottom: 17px;
          margin-left: 30px;
          color: #1d1d1d;

          & > i {
            margin-left: 70px;
            color: #ff1111;
          }
        }
      }
    }
  }
  // narxlar
}
